.view-bar {
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 44px
  border-top 1px solid $brand-gray
  background-color $brand-default
  &-wrap {
    span {
      width: 44px;
      height: 44px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      line-height: 44px;
      text-align: center;
      z-index: 9;
    }

    .post-a-comment {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 8;
      text-align: center;
      font-size: 16px;
      line-height: 44px;
    }
  }
}

.double-arrows {
  &-down, &-up {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    position: relative;

    &:before, &:after {
      display: block;
      width: 32px;
      height: 32px;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      transform: rotate(45deg) scale(0.3, 0.3) translate(-50%, -50%);
    }
  }

  &-up {
    &:before, &:after {
      border: 4px #ddd solid;
      border-right: none;
      border-bottom: none;
    }

    &:before {
      top: 6px;
    }

    &:after {
      top: 10px;
    }
  }

  &-down {
    &:before, &:after {
      border: 4px #ddd solid;
      border-left: none;
      border-top: none;
    }

    &:before {
      top: 2px;
    }

    &:after {
      top: 6px;
    }
  }
}

.comments
  display: block
  padding: 44px 16px 0
  .view-header
    position: fixed
    top: 0
    right: 0
    left: 0
    height: 44px
    z-index: 99

    &-wrap
      height: 44px
      background: $brand-primary
      color #fff
      text-align: center
      font-size: 16px
      line-height 44px

  .list-group
    padding: 0
    list-style: none
  .list-group-header

    h3
      height: 32px
      line-height 32px
      font-size: 12px
      margin-bottom: 16px
      position: relative
      &:after
        display: block
        content ''
        height: 1px
        background $brand-gray
        position: absolute
        bottom: 0
        left: -16px
        right: -16px

  .list-group-item
    padding-bottom: 16px
    margin-bottom: 16px
    position: relative
    &:nth-last-of-type(1)
      &:after
        display: none
    &:after
      display: block
      content ''
      height: 1px
      background $brand-gray
      position: absolute
      bottom: 0
      left: (28 + 16) px
      right: -16px

    .bio
      display: flex
      height: 28px
      position: relative
      .bio-name
        font-size: 14px
        line-height 28px

      .avatar
        width: 28px
        height: 28px
        margin-right: 16px
        img
          display: block
          border-radius 50%
          width: 100%
      .like
        position: absolute
        top: 50%
        right: 0
        height: 28px
        line-height 28px
        transform translateY(-50%)
        font-size: 12px
        .icon
          font-size: 12px
    .content
      font-size: 14px
      padding-left: (28 + 16) px
      line-height 1.5

