.story-action
  height: 44px
  position: fixed
  bottom: 0
  left: 0
  right: 0
  &-list
    display flex
    max-width 420px
    margin auto
    height: 44px
    background #fff
    border-top 1px $brand-gray solid
    align-items center
    justify-content center
    padding-left: 0
    list-style: none
  &-item
    display: flex
    width (100% / 5)
    height: 44px
    justify-content center
    position: relative
    align-items center
    .icon
      font-size: 18px
      color darken($brand-gray, 50%)
    .text
      font-size: 10px
      position: absolute
      top: 2px
      right: 20%
      color $brand-primary
